* {
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	height: 100%;
	width: 100%;
	font-size: 2rem;
}

body {
	height: 100%;
}

#box {
	position: relative;
	height: 100%;
	width: 100%;
}

.player {
	height: 50%;
	width: 100%;
	line-height: 100%;
	background-color: rgb(200, 200, 200);
	text-align: center;
	transform: rotate(180deg);
}

#player2 {
	background-color: rgb(160, 160, 160);
	transform: rotate(0deg);
}

.scramble{
	position: relative;
	top: 5%;
	height: 15%;
	display:block;
	font-size: 0.8rem;
	z-index: 10;
}

.hitbox{
	position: relative;
	height: 80%;
	display:block;
	font-size: 0.8rem;
	z-index: 1;
}

.time {
	position: relative;
	top:35%;
	display:block;
	font-size: 2rem;
	z-index: 2;
}